// Variables
$breakpoint-mobile: 375px;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');
* {
  font-family: 'IBM Plex Mono', 'monospace';
}

@media (min-width: $breakpoint-mobile) {
  .navbar {
    top: 0;
    height: 10rem;
    position: fixed;
    z-index: 99;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    justify-content: space-between;
    background: #FFFFF;
    background-color: white;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  }

  .navbar__name {
    font-size: 3rem;
    font-weight: 400;
    color: grey;
  }

  .main__route {
    background-color: #fafafa;
    margin-top: 17%;
    height: 8rem;
    display: flex;
    padding: 0 8rem;
    justify-content: space-between;
    align-items: center;
  }

  .main__link {
    color: #f73378;
    font-size: 2.5rem;
  }

  .cardContainer {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .clientCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 85vw;
    height: 70rem;
    padding: 2.5rem;
    border: 1px solid grey;
    border-radius: 2rem;
    margin: 3rem 0;
    color: grey;
    font-size: 2.5rem;
  }

  .chakra-form__label {
    margin-bottom: 2rem !important;
    font-size: 2.5rem !important;
  }

  .chakra-input {
    border-radius: 20px !important;
    height: 6rem !important;
    border: 1px solid grey !important;
    margin-top: 0.5rem !important;
    font-size: 2.5rem !important;
  }

  .clientForm {
    padding: 5rem;
    background: #fafafa;
  }

  .clientForm__nameInput {
    display: flex;
  }

  .clientForm__btn {
    border-radius: 20px !important;
    margin-top: 1rem !important;
    height: 10rem !important;
    font-size: 3rem !important;
    color: white !important;
    background-color: #38b2ab !important;
  }

  .clientInfo {
    margin-top: 5rem;
  }

  .clientInfo__metrics {
    font-size: 2.5rem;
  }

  .clientInfo__divider {
    height: 5rem;
  }

  .clientName {
    font-size: 4rem;
    font-weight: 500;
  }
}
